//colors
$dark-1: #000000;
$dark-2: #121417;
$dark-3: #101012;
$dark-4: #1F1F22;
$light-1: #FFFFFF;
$light-2: #EFEFEF;
$light-3: #7878A3;
$light-4: #5C5C7B;
$gray-1: #697C89;
$violet-1: #877EFF;
$bar-color: rgb(38,38,38);
$glassmorphism: rgba(16, 16, 18, 0.60);
$profileSize: 3rem;

//z-index
$z-bar: 5;