@use "index" as *;

.activityContainer {
  width: 100%;
}

.activity {
  margin: 40px;
  @include flex-col;
  gap: 20px;
}

//Activity Card

.card {
    width: 100%;
  a {
    @include flex-row($jc: flex-start);
    width: 100%;
    background-color: $dark-4;
    padding: 0.5rem;
    border-radius: 10px;
    h5 {
      @include base-semibold;
      color: $violet-1;
      margin-left: 18px;
    }

    p {
      @include small-medium;
      color: $light-2;
      margin-left: 5px;
    }
  }
}
