@use 'index' as *;

.threadContainer {
  width: 100%;
  padding: 1vw 1vh;
}

.head {
  @include heading2-bold;
  color: $light-1;
}

.postThread_container {
    width: 50%;
    @include mid-break {
      width: 100%;
    }
}