@use "index" as *;

.container {
  position: sticky;
  left: 0;
  top: 0;
  z-index: $z-bar;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  height: 92vh;
  min-width: 200px;
  width: 200px;
  justify-content: space-between;
  overflow: auto;
  border-right: 1px solid $dark-4;
  background-color: $dark-2;
  padding-bottom: 5px;
  padding-top: 28px;
  color: white;
  padding-bottom: 3vh;

  @include mid-break {
    display: none;
  }
}

.menuWrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
  padding: 0 10px;
  width: 100%;
  gap: 4vh;
  // background-color: pink;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding: 6px 8px;
  gap: 18px;
  border-radius: 10px;

  p {
    color: $light-2;
    @include base-medium;
    text-align: center;
  }
}

.menuActive {
  background-color: $violet-1;
}

.logout {
  cursor: pointer;
  padding-left: 10%;
  width: 100%;
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-size: 14px;
  }
}

