@use 'index' as *;
.container {
  width: 70%;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-flow: column nowrap;
  transform: scale(75%);
  
  justify-content: end;

  h1 {
    @include heading2-bold;
    margin: 3vh 0;
    color: $light-1;
    text-align: center;
  }

  p {
    @include base-regular;
    color: $light-2;
    margin-top: -7px;
  }
}

.profile_container {
  padding: 20px 25px;
  margin-top: 9px;
  background-color: $dark-2;
  border-radius: 10px;
  margin-top: 20px;
}
