@import "./_defaults.scss";
@import "./_fontStyle.scss";
@import "./_variables.scss";

.form_container {
  @include flex-col;
  gap: 40px;
  width: 100%;
  max-width: 100% !important;
  padding: 0 2px;
  margin-top: 25px;
}

.formItem {
  @include flex-col($algn: flex-start);
  width: 100%;
}

.form_textLabel {
  @include base-semibold;
  color: $light-2;
  width: 12%;
  padding-left: 5px;
  letter-spacing: 1.3px;
  color: $light-2;
  margin-bottom: 7px;
  margin-left: 0.8vw;
}

.form_textControl {
  @include base-semibold;
  border: 1px solid $dark-4;
  background-color: $dark-3;
  color: $light-1;
  width: 100%;
  margin: 0 auto;
}

.form_textInput {
  border: 1px solid $dark-4;
  background-color: $dark-3;
  color: $light-1;
  padding: 7px 8px;
  width: 95% !important;
  border-radius: 7px;
  outline: none !important;
  transition: outline 1s ease !important;
  &:focus {
    outline: 1px solid $light-2 !important;
  }
}

.commentForm_container {
  @include flex-row;
  gap: 40px;
  width: 100%;
  max-width: 100% !important;
  padding: 0 2px;
  margin-top: 165px;
}

.commentForm_textControl{
  @include base-semibold;
  border: 1px solid $dark-4;
  background-color: $dark-3;
  color: $light-1;
  width: 100%;
  margin: 0 auto;
  outline: none;
  border: none;
  &:focus {
    outline: none !important;
    border: none !important;
  }

  background-color: $dark-1;

  .form_textInput{
    padding-left: 10px !important;
    display: none;
  }
}

.commentForm_profilePhoto{
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: auto 0;
}

.commentFormItem {
  @include flex-row($algn: center);
  width: 100%;
}

.commentSubmit{
  width: 15%;
  border-radius: 200px;
  padding: 10px 6px;
  // font-weight: 700;
  @include small-semibold;
}