@use "index" as *;

.card_container {
  @include flex-col($algn: flex-start);
  background-color: $dark-2;
  width: 100%;
  border-radius: 15px;
  padding: 2vh 1vw;
}

.comment {
  background-color: $dark-1;
}

.c1 {
  @include flex-col($algn: flex-start, $jc: space-between);
}

.c2 {
  @include flex-row($algn: flex-start);
  flex: 1;
  gap: 16px;
  height: fit-content;
  position: relative;

  
  
}

.c3 {
  @include flex-col;
  position: relative;
  align-self: stretch;
  
}

.profileImg {
  position: relative;
  height: $profileSize;
  width: $profileSize;
}

.card_bar {
  width: 2px;
  background-color: $bar-color;
  border-radius: 50%;
  flex-grow: 1;
}

.c4 {
  width: 100%;
  @include flex-col($algn: flex-start);
  flex: 1;
  // background-color: pink !important;
  padding: 0.5rem 0;
}

.authorName {
  width: fit-content;
  h4 {
    @include base-semibold;
    color: $light-1 !important;
    cursor: pointer;
  }
}

.nameSub {
  @include small-regular;
  opacity: 0.7;
  font-size: 10px;
}

.thread_content {
  margin-top: 1rem;
  @include small-regular;
  color: $light-2;
}

.threadResponse_container {
  @include flex-col;
  gap: 12px;
  margin-top: 20px;
}

.threadResponse {
  @include flex-row;
  gap: 0.75rem;

  img {
    object-fit: contain;
    cursor: pointer;
  }
}

.noOfComments {
  margin-top: 0.25rem;
  @include subtle-medium;
  color: $gray-1;
  font-size: 30px;
  background-color: pink !important;
}


.communityDetails {
  width: 100%;
  @include small-regular;
  color: $light-2;
  opacity: 0.7;
}

.communityPostInfo{
  margin-top: 7px;
}